#  Ejercicios 2: Funciones


Una función es un conjunto de expresiones y sentencias (algoritmo) que se ejecuta cuando es invocada

def funcion_1(): 
    # aquí el algoritmo


Para ejecutar una función, es necesario que sea invocada

In [ ]:
def funcion_1():
    print("Hola Mundo")

In [ ]:
funcion_1()


Cuando una función, haga un retorno de datos, éstos, pueden ser asignados a una variable:

In [ ]:
def funcion_2(): 
    return("Hola Mundo")

In [ ]:
frase = funcion_2() 
print(frase)

#### Parámetros por omisión

Se puede asignar parámetros por defecto, esto permite que la función pueda ser invocada con menos parámetros

In [ ]:
def saludo(nombre, mensaje='Hola'):
    print(mensaje, nombre)

saludo('Luis Garayar')

Se tiene que declarar los argumentos con valores por defecto siempre después de los argumentos obligatorios.

In [ ]:
def saludo(nombre='Luis Garayar', mensaje):
    print(mensaje, nombre)

<br>Creamos una función `add_numbers` para que tome dos números y los sume:

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

<br> Actualizamos `add_numbers` para tomar un tercer parámetro opcional. El uso de `print` permite imprimir múltiples expresiones dentro de una sola ejecución:

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br> Actualizamos `add_numbers` para tomar un parámetro flag opcional:

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>Asignar la función `add_numbers` a la variable `a`:

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)


Ejemplo: Crear una función que sume los N primeros números naturales

In [1]:
def suma_n(n):
    suma = 0
    for i in range(n+1):
        suma = suma + i
    return(suma)

s = suma_n(10)
print(s)

55

¿Que hace la siguiente función?

In [ ]:
def transforma_numero(numero):
    if (numero%2 == 0):
        return(numero*2)
    else:
        return(numero*3)

In [ ]:
print(transforma_numero(15))
print(transforma_numero(16))

## Funciones integradas


El interprete Python tiene un número de funciones integradas (built-in), las cuales están siempre disponibles. Tenemos algunas funciones que ya hemos usado:

abs()    # devuelve el valor absoluto de un número (entero o de coma flotante)
dict()   # permite crear un diccionario
float()  # devuelve un número coma flotante float
help()   # invoca el menú de ayuda del intérprete de Python
int()    # devuelve un número entero
input()  # lee una cadena de caracteres desde la entrada estándar
len()    # devuelve el número de elementos de un tipo de secuencia o colección
list()   # permite crear una lista mutable
long()   # devuelve un número entero largo
max()    # si recibe más de un argumento, devuelve el mayor de ellos
min()    # si recibe más de un argumento, devuelve el menor de ellos
pow()    # recibe dos argumentos, eleva el primero argumento a la potencia del segundo
print()  # permite imprimir en consola lo
range()  # devuelve una lista conteniendo una progresión aritmética de enteros
round()  # redondea un número flotante a una precisión dada en dígitos decimal 
set()    # crea un conjunto mutable
str()    # se usa crear una carácter o cadenas de caracteres
sum()    # devuelve la suma de una lista o de una secuencia
tuple()  # permite crear una tupla, que es una lista inmutable
type()   # devuelve el tipo del objeto que recibe como argumento

Veamos algunas funciones adicionales que pueden ser de utilidad:

In [2]:
# eval(): Evalúa una cadena como una expresión
eval('2 + 5')

7

In [3]:
# abs(): Devuelve el valor absoluto de un número (entero o de coma flotante)
abs(-10)

10

In [4]:
# sorted(): devuelve una lista ordenada de los elementos que recibe (lista o cadena de caracteres)
lista = [23, 13, 7, 37]
print(sorted(lista))
cadena = "murcielago"
print(sorted(cadena))

[7, 13, 23, 37]
['a', 'c', 'e', 'g', 'i', 'l', 'm', 'o', 'r', 'u']

In [5]:
# zip(): devuelve una lista de tuplas, donde cada una contiene el elemento iésimo desde cada secuencia de argumento
list(zip(['python', 'zope', 'plone'], [2.7, 2.13, 5.1]))

[('python', 2.7), ('zope', 2.13), ('plone', 5.1)]

In [6]:
paises = ["China", "India", "Estados Unidos", "Indonesia"]
poblaciones = [1391, 1364, 327, 264]
list(zip(paises, poblaciones))

[('China', 1391), ('India', 1364), ('Estados Unidos', 327), ('Indonesia', 264)]

In [7]:
# split(): devuelve una lista con la cadena de caracteres separada por cada indice de la lista
cad = 'leonardo caballero'
cad.split()

['leonardo', 'caballero']

In [8]:
cad.split('o')

['le', 'nard', ' caballer', '']

In [9]:
# swapcase(): devuelve una cadenas de caracteres convertida al opuesto sea MAYÚSCULAS o MINÚSCULAS
cad2 = 'Luis Garayar'
cad2.swapcase()

'lUIS gARAYAR'

In [10]:
# title(): devuelve una cadenas de caracteres con capitales en cada palabra
cad2 = 'programa de televisión'
cad2.title()

'Programa De Televisión'

In [11]:
# iter(): obtiene un iterador de un objeto. En la primera forma
# next(): devuelve el próximo elemento desde un iterador
elemento = iter([1,2,3,4,5])
print(next(elemento))
print(next(elemento))
print(next(elemento))
print(next(elemento))
print(next(elemento))

1
2
3
4
5

In [12]:
elemento2 = iter("Plano")
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))

P
l
a
n
o

In [13]:
# map(): ejecuta una función sobre cada elemento de un iterador (generalmente una lista o tupla)
def dup(n):
    return n * 2

list(map(dup, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [14]:
def mult(a, b):
    return a * b

list(map(mult, [1, 2, 3, 4], [5, 6, 7, 8]))

[5, 12, 21, 32]

## Funciones lambda

In [15]:
potencia = lambda x,y: x**y
potencia(19,3)

6859

In [ ]:
[x ** 2 for x in [1,2,3]]    #comprension de listas

In [ ]:
list(map(lambda x: x**2,[1,2,3]))   #aplicando map a una función lambda

In [ ]:
revertir = lambda cadena: cadena[::-1]
revertir("DMC")

In [ ]:
impar = lambda numero: numero%2 != 0
impar(4)

Aquí hay un ejemplo de `lambda` que toma tres parámetros y agrega los dos primeros:

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

## Comprensión de listas

Vamos a iterar de 0 a 999 y devolver los números pares

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

Ahora lo mismo pero con ***comprensión de listas***:

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

## Extra: Parámetros arbitrarios

Los parámetros arbitrarios se utilizan cuando la función recibirá un número arbitrario (desconocido) de parámetros. Para definir argumentos arbitrarios en una función, se antecede al parámetro un asterisco (*):

In [ ]:
def recorrer_parametros_arbitrarios(parametro_fijo, *arbitrarios): 
    print(parametro_fijo, " ---fijo")
    # Los parámetros arbitrarios se corren como tuplas
    for argumento in arbitrarios: 
        print(argumento, " ---arbitrario")

In [ ]:
recorrer_parametros_arbitrarios('Fixed', 'arbitrario 1', 'arbitrario 2', 'arbitrario 3')

In [ ]:
recorrer_parametros_arbitrarios('Fixed', 'arbitrario 1', 'arbitrario 2', 'arbitrario 3', 'arbitrario 4', 'arbitrario 5', 'arbitrario 6')

Una función que sume todos los números ingresados como parámetros

In [ ]:
def suma_arbitraria (a = 0, *args):
    print(a)
    for i in args: 
        a = a + i
        print(a)

In [ ]:
suma_arbitraria()

In [ ]:
suma_arbitraria(5)

In [ ]:
suma_arbitraria(5,8)

In [ ]:
suma_arbitraria(5,8,13,4,5,7,8,10,14)