## Examen Final

__Nota: --/20__

Lea atentamente las indicaciones y resuelva los ejercicios planteados.

El examen tiene una duración de 2 horas.
Deberá subir el archivo al espacio creado en "Tarea Sesion 16" con el nombre: Apellidos_Nombres_ExamenFinal, por ejemplo: PerezRosas_JuanJose_ExamenFinal

¡Éxitos!

1. Las siguientes celdas contienen código con errores, modifíquelas para solventar los errores:

In [1]:
mis datos = [15,25,30,80,220] # 0.5 pts

SyntaxError: invalid syntax (<ipython-input-1-ede0a8511f19>, line 1)

In [ ]:
print(type(12.58547)    # 0.5 pts

In [2]:
def = 25 # 0.5 pts

SyntaxError: invalid syntax (<ipython-input-2-f6446cd2db85>, line 1)

In [ ]:
vector = numpy.array([15,25,30,80,220]) # 0.5 pts
print(vector*2)

In [ ]:
a = 8         # 0.5 pts
b = 10
if a = b:
    print("iguales")

In [ ]:
lista = [0,1,2,3]  # 0.5 pts
lista.apend(4)
print(lista)

In [ ]:
a = 10 # 0.5 pts
b = "15"
suma = a + b
print(suma)

In [ ]:
c = 26  # 0.5 pts
d = 12
multiplicacion = 5d + 4c
print(multiplicacion)

In [ ]:
def saludo # 0.5 pts
    print("hola")

In [ ]:
x = 4  # 0.5 pts
t = 2
d = X*T
print(d)

2. Una empresa que ofrece servicios de banquetes tiene precios diferenciados según la cantidad de platos solicitados:


    Precio por plato : Pedido mínimo
    
    17.90           si        el pedido mínimo es <= 25
    
    16.90           si        el pedido mínimo es > 25 y <= 100
    
    15.90           si        el pedido mínimo es > 100 y <= 1000 
    
    13.90           si        el pedido mínimo es > 1000
    
    Además cobra un cargo fijo de 0.5 por plato debido al servicio de los camareros.

    Escriba un programa que permita conocer el precio final que deberá pagar según la cantidad de platos solicitados a dicha empresa. Por ejemplo, si los platos pedidos son 500, el costo total será de 8200 (500*15.90 + 0.5*500)
    
    La unidad (moneda) utilizada es el dólar.

    Requisitos:
    
    El código deberá pedir que el usuario ingrese por teclado la cantidad de platos solicitados.
    
    El código deberá imprimir en pantalla el costo total de dicho pedido.
    
    Obligatoriamente debe utilizar una estructura IF .  
    
    3 pts

3. Cree una función que dadas dos listas de n elementos, las sume como si fueran vectores, es decir, posición por posición.

    La entrada de la función deben ser dos listas.
    La salida de la función debe ser otra lista.

    Por ejemplo:
    
    el código funcion([a1,a2,a3], [b1,b2,b3]) deberá dar como resultado [a1+b1, a2+b2, a3+b3]

    funcion([1,2,3], [4,5,6]) deberá dar como resultado [5,7,9]


    Tip: con la función len() obtiene el tamaño de una lista
            la funcion range() le puede ser de utilidad

    2pts

4. Cree una función que dado un número entero que designa un periodo de tiempo expresado en segundos, imprima el equivalente en días, horas, minutos y segundos. Por ejemplo: 300000 segundos serán 3 días, 11 horas, 20 minutos y 0 segundos. Por ejemplo: 7400 segundos serán 0 días, 2 horas, 3 minutos y 20 segundos (4pts)

        Tip: 
             el operador residuo es %
             el operador division entera // devuelve el cociente
             
             
3pts

5. Cree una función que haga exactamente lo contrario a la anterior. Tendrá como entrada 4 números enteros que indiquen los días, horas, minutos y segundos, mientras que la salida será la cantidad de segundos totales equivalente a dicho tiempo. Deberás definir a todos los argumentos con valor cero por defecto, de tal manera que:

         funcion(dias=1) devuelva como resultado 86400
         funcion(minutos=1) devuelva como resultado 60
         funcion(0,0,0,5) devuelva como resultado 5


2pt

6. Cree una función que reciba como entrada un número entero en base decimal y lo convierta en un número de base 2. El tipo de dato de entrada será "int" y la salida en "str" 

        La base dos contiene solo los dígitos 0 y 1
        La transformación de una base a la otra se puede realizar con divisiones sucesivas. Observe la imagen anexa que explica cómo se pasa de base 10 a base 2. 
        
        
        Tip: el operador residuo es %
             el operador division entera // devuelve el cociente
             con la función str() cambia a tipo de dato str
      

4 pts

Para hacer la conversión de decimal a binario, hay que ir dividiendo el número decimal entre dos y anotar en una columna a la derecha el resto (un 0 si el resultado de la división es par y un 1 si es impar).

La lista de ceros y unos leídos de abajo a arriba es el resultado.

7. Cree una nueva clase de Python que se llamará alumno.
   
   La clase alumno tienen como atributos:
       nombres (str)
       apellidos (str)
       calificaciones(list)
       
   La clase alumno tiene tres métodos:
       El método constructor (__init__) que requiere dos argumentos: nombres y apellidos.
       El método agregarCalificacion() el cual permite añadir una única calificación en la lista de calificaciones de dicho alumno. 
       El método obtenerPromedio() el cual debe devolver el promedio de todas las calificaciones que posea el alumno.
       
       
       
       Por ejemplo:
       
>Juan = Alumno("Juan", "Arevalo")  # crea un objeto Alumno

>Juan.agregarCalificacion(15)  #agrega una nota

>Juan.agregarCalificacion(17)  #agrega una nota

>Juan.agregarCalificacion(16)  #agrega una nota

>Juan.obtenerPromedio()        #devuelve el promedio, en este caso 16 que resulta de (15+17+16)/3 
       
       No tiene permitido importar paquetes.
       
       5 pts

8. Realice los siguientes gráficos:

8.1. Muestre un gráfico de barras para comparar los ingresos (en miles de dólares) de las empresas A y B. Revise en las imágenes anexas cómo debe mostrarse el resultado final.  
    
4 pts

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun"]
ingresos_A = [17, 19, 18, 15, 14, 15]
ingresos_B = [18, 17, 18, 17, 16, 16]

9. A partir de la base de datos "poblacion1997" escriba la consulta correspondiente (código) y responda:

In [ ]:
import pandas as pd
data = pd.read_excel("poblacion1997.xlsx")
data.head()

Detalle por columna:

    Estado : nombre del estado (división politica)
    Capital : nombre de la capital del estado.
    Población 1997 : poblacion de la capital en 1997

a. ¿cuál es la capital con mayor población? (1pto)

b. ¿cuál es la capital con menor población? (1pto)

c. ¿cuál es la población total? (1pto)

d. muestre un gráfico de barras con la población de solo las 5 capitales más pobladas.(2 ptos)